#wrapper{
    position: relative;
    top: 10vh;
}

p{
    font-family: Helvetica, sans-serif;
}

a {
    font-family: Helvetica, sans-serif;
    font-weight: 00;
    text-decoration: none;
    color: #234bd2;
}

a:hover {
    color: #5071de;
}

table, th, td {
    font-family: Helvetica, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 2px 5px 2px 5px;
}

th{
    font-weight: 600;
}

td{
    font-weight: 300;
}


.center {
    margin-left: auto;
    margin-right: auto;
}

.small-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

#water{
    position: absolute;
    top: 100px;
    left: 0px;
}

#lily-pad{
    position: absolute;
    top: 75px;
    left: 300px;
    width: 200px;
}

#african-clawed-frog{
    position: absolute;
    top: 200px;
    left: 100px;
    width: 100px;
}

#american-bullfrog{
    position: absolute;
    top: 0px;
    left: 100px;
    width: 100px;
}

#argentine-horned-frog{
    position: absolute;
    top: 100px;
    left: 200px;
    width: 100px;
}

#budgetts-frog{
    position: absolute;
    top: 300px;
    width: 100px;
    left: 500px;
}

#common-rain-frog{
    position: absolute;
    top: 400px;
    left: 270px;
    width: 100px;
}

#japanese-tree-frog{
    position: absolute;
    top: 30px;
    left: 500px;
    width: 100px;
}

#poison-dart-frog{
    position: absolute;
    top: 250px;
    left: 300px;
    width: 100px;
}